# Swiss Ephemeris Data Files
# These are large binary files, download them with:
# bash scripts/download-ephemeris.sh
# 
# Or for Docker: they will be downloaded during build

*.se1
!semo_18.se1
!sepl_18.se1
*.cat
!.gitkeep
